<div id="login">
<div class="container">
<h1>Code Champions</h1>
<img src="../images/ccLogo.png">
<form ng-submit="loginCtrl.login(userInfo)">
  <input class="form-control" type="text" placeholder="Username" value="" name="username" ng-model="userInfo.username">
  <input class="form-control" type="password" placeholder="Password" value="" name="password" ng-model="userInfo.password">
  <input class="btn btn-primary login" type="submit" name="submit" value="Login">
  <a href="#/newUser" class="btn btn-danger login">Create New User</a>
</form>
</div>
</div>
