<div class="container">
  <div class="nav">
    <h1>Code Champions</h1>
    <button class="btn btn-profile">Profile</button>
    <hr>
  </div>
  <div class="col-md-12">
    <h2>Hello, {{teacher.name}}!</h2>
    <section>
      <h3>Classroom</h3>
      <table class="table table-bordered col-md-8 classroom-board">
        <tr>
          <td>{{user.name}}</td>
        </tr>
        <tr>
          <td>{{user.name}}</td>
        </tr>
        <tr>
          <td>{{user.name}}</td>
        </tr>
      </table>
    </section>
  </div>
</div>
