body{
  background-color: #2196F3;
  font-family:  'Anton', sans-serif;
  color: white;
}

// login page

#login{

  text-align: center;
  height: 600px;
  h1 {
    font-size: 60px;
  }
  .img-logo {
    margin-bottom: 10px;
    width: 100px;
  }
  input{
    width: 30%;
    margin: 0 auto;
  }
  .login{
    width: 14%;
    margin-top: 5px;
    background-color: #D32F2F;
    color: white;
  }
}

// newUser page

.newUser{
  text-align: center;
  .btn {
  background-color: #D32F2F;
  color: white;
  }
}
.newUserInput{
  width: 30%;
  margin: 0 auto;
}

.btn {
  font-size: 20px;
}

// profile page

.nav {
  h1{
    float: left;
  }
  .btn {
    float: right;
    margin-right: 5px;
    margin-top: 10px;
    background-color: #D32F2F;
  }
  hr {
    width: 100%;
  }
}

.image {
  border: 1px solid black;
  background: white;
  height: 300px;
}


.image-edit {
  background-color: #D32F2F;
  font-size: 20px;
}

aside {
  .edit {
    display: inline-block;
    margin-top: 10px;
    button {
      background-color: #D32F2F;
      font-size: 20px;
    }
  }
}

// lesson page

.lesson {
  margin-left: auto;
  margin-right: auto;
  .video {
    background-color: white;
    border: 1px solid black;
    height: 400px;
    margin-right: 10px;
  }
  .notes {
    background-color: white;
    border: 1px solid black;
    height: 400px;
  }
  p {
    .next {
      float: right;
      margin-right: 5px;
      margin-top: 10px;
      background-color: #D32F2F;
      color: white;
    }
  }
}

// game page


.gameView{
  padding: 10px 20px;

  .ace_editor {
    width: 100%;
    height: 400px;
   }

  .notes {
    padding-top: 10px;
    background-color: white;
    border: 1px solid black;
    height: 400px;
    color: black;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: bold;
    font-size: 16px;
    }
  .editor{
    height: 400px;
    }
  .gameBox{
    background-color: white;
    border: 1px solid black;
    height: 400px;
    color: black;
    .run {
      background-color: #D32F2F;
      font-family:  'Anton', sans-serif;
      margin-top: 5px;
    }
    }

  #char {
    position: absolute; }

  #field {
    position: relative;
    margin: 10px auto;
    background-image: url('../../images/sand.jpg');
    width: 85%;
    height: 235px;
    border: 1px solid gray; }

  #x {
    position: absolute;
    top: 100px;
    left: 150px;
    font-size: 50px;
    color: red;
    font-family:  'Anton', sans-serif; }
  #error{
    width: 85%;
    margin: 0 auto;
  }
  .hidden{
    display: none;

  }

}

.hintView {
  .hint {
    background-color: #D32F2F;
    font-family:  'Anton', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .hint-box {
    background-color: white;
    font-family: 'Ek Mukta', sans-serif;
    color: black;
    height: 150px;
    border: 1px solid black;
    margin-bottom: 50px;
  }
  .hintRow{
    padding-top: 6px;
  }
  img{
    height: 140px;
    text-align: center;
  }
}
