body{
  background-color: #2196F3;
  font-family:  'Anton', sans-serif;
  color: white;
}

@font-face {
  font-family: 'Eraser';
  src: url('../eraser/EraserRegular.ttf');
}

// login page

#login{

  text-align: center;
  height: 600px;
  h1 {
    font-size: 60px;
  }
  .img-logo {
    margin-bottom: 10px;
    width: 100px;
  }
  input{
    width: 30%;
    margin: 0 auto;
  }
  .login{
    width: 14%;
    margin-top: 5px;
    background-color: #D32F2F;
    color: white;
  }
}
 // About us page
  .usImg{
    width: 100%;
  }
  .usList{
    list-style: none;
  }
footer {
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  padding-top: 5px;
  padding-bottom: 5px;
  width:100%;
  a{
    text-decoration: none;
    color: white;
  }
}

// aboutUs page

.aboutUs {
  background-color: white;
  color: black;
  border-radius: 5px;
  font-family: 'Ek Mukta', sans-serif;
  font-size: 16px;
  border: 1px solid black;
  padding: 10px;
}

// newUser page

.newUser{
  text-align: center;
  .btn {
  background-color: #D32F2F;
  color: white;
  }
  img {
    width: 50px;
    margin: 5px;
  }
  img:hover {
    background: rgba(white, 0.5);
  }
  img:focus {
    background: rgba(white, 0.5);
  }
}
.newUserInput{
  width: 30%;
  margin: 0 auto;
}

.btn {
  font-size: 20px;
}

// student page

.homeAvatar {
    width: 50px;
    margin: 0px;
}

.progress-bar {
  color: black;
}

.progress {
  display: inline-block;
  width: 75%;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 50px;
  background-color: #A9A9A9;
}

.student {
  h2 {
    font-size: 46px;
  }
  h3 {
    font-size: 40px;
  }
  .col-xs-3 {
    background-color: white;
    border: 1px solid white;
    color: black;
    margin-right: 5px;
    text-align: center;
    min-height: 200px;
    border-radius: 5px;
    margin-top: 100px;
  }
}

.glyphicon {
  font-size: 72px;
}

.main-lessons {
  h3 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .col-xs-8 {
    height: 50px;
    background-color: white;
    color: black;
    margin-top: 10px;
    border-radius: 5px;
  }
  .col-xs-6 {
    height: 30px;
    background-color: white;
    color: black;
    margin-top: 10px;
    border-radius: 5px;
    a {
      color: black;
    }
  }
}

// profile page

.nav {
  h1{
    float: left;
  }
  .btn {
    float: right;
    margin-right: 5px;
    margin-top: 10px;
    background-color: #D32F2F;
    color: white;
  }
  hr {
    width: 100%;
  }
}

.image img {
  width: 75px;
}


.image-edit {
  background-color: #D32F2F;
  font-size: 20px;
}

aside {
  .edit {
    display: inline-block;
    margin-top: 10px;
    button {
      background-color: #D32F2F;
      font-size: 20px;
    }
  }
}

// lesson page

.modal-content iframe{
       margin: 0 auto;
       display: block;
   }

.lesson {
  margin-left: auto;
  margin-right: auto;
  .video {
    margin-right: 10px;
    iframe{
      margin-top:50px;
      width: 100%;
    }
    .cancel {
      color: black;
      background-color: white;
    }
  }
  .lessonNotes{
    padding: 15px;
  }
  .notes {
    background-color: white;
    border: 1px solid black;
    height: 400px;
    overflow-y: scroll;
    color: black;
    font-family: 'Ek Mukta', sans-serif;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 10px;
    margin-top: 50px;
    img{
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
    figcaption{
      text-align: center;
      font-size: 12px;
    }
  }
}

.next {
  float: right;
  margin-right: 5px;
  margin-top: 10px;
  background-color: #D32F2F;
  color: white;
}

// game page

.buttons {
  padding: 10px;
}


.gameView{
  padding: 10px 20px;

  .ace_editor {
    width: 100%;
    height: 400px;
   }

  .notes {
    padding-top: 10px;
    background-color: white;
    border: 1px solid black;
    height: 400px;
    color: black;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: bold;
    font-size: 16px;
    overflow-y: scroll;
    }
  .editor{
    height: 400px;
    }
  .gameBox{
    background-color: white;
    border: 1px solid black;
    height: 400px;
    color: black;
    .run {
      background-color: #D32F2F;
      font-family:  'Anton', sans-serif;
      margin-top: 5px;
    }
    }

  .run {
    background-color: #D32F2F;
    font-family:  'Anton', sans-serif;
    margin-top: 5px;
    margin-right: 1px;
  }
  .gameButton, {
    font-family: 'Anton', sans-serif;
    margin-top: 5px;
    margin-right: 1px;
  }
  #obstacle{
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 40px;
  }
  #char {
    position: absolute;
    z-index: 3;}

  #field {
    position: relative;
    margin: 10px auto;
    background-image: url('../../images/sand.jpg');
    width: 85%;
    height: 235px;
    border: 1px solid gray; }

  #fieldPlay {
    position: relative;
    margin: 10px auto;
    padding:10px;
    width: 85%;
    height: 235px;
    border: 1px solid gray; }

  #field21 {
    position: relative;
    margin: 10px auto;
    background-image: url('../../images/grass.png');
    width: 85%;
    height: 235px;
    overflow-y: hidden;
    border: 1px solid gray; }

  #field22 {
    font-family: 'Eraser';
    color: white;
    position: relative;
    margin: 10px auto;
    background-image: url('../../images/retrographic_texture21_02.png');
    width: 85%;
    height: 235px;
    overflow-y: hidden;
    border: 1px solid gray; }

  #field23 {
    position: relative;
    margin: 10px auto;
    background-image: url('../../images/dungeonwall.jpg');
    width: 85%;
    height: 235px;
    overflow-y: hidden;
    border: 1px solid gray; }

  .playgroundSpan{
    font-size: 16px;
    color: red;
  }
  .dungeonDoor{
    margin-left: 2px;
    margin-right: 2px;
  }

  .dungeonNoRight{
    margin-left: 2px;
    margin-right: 0px;
  }
  .dungeonRow{
    margin-top:50px;

  }
  .door{
      width: 60px;
      height: 100px;
  }
  .behindDoor{
    padding-top: 30px;
    width: 55px;
  }
  .zooText {
    text-align: center;
    color: white;
  }
  .zooRow{
    margin-bottom: 10px;
  }

  .chalkboard {
    font-weight: normal;
    strong {
      font-size: 20px;
    }
  }

  .greeting {
    border-bottom: 1px solid black;
    font-size: 26px;
    .greet {
      padding-left: 0px;
      padding-right: 0px;
      text-align: center;
    }
  }

  .varRow {
    border-bottom: 1px solid black;
    font-size: 20px;
  }

  .ghostRow {
    font-size: 20px;
  }
  #x {
    position: absolute;
    top: 100px;
    left: 150px;
    font-size: 50px;
    color: red;
    font-family:  'Anton', sans-serif; }
  #error{
    width: 85%;
    margin: 0 auto;
    font-size:14px;
    .glyphicon-exclamation-sign {
      font-size: 20px;
    }
  }
  .glyphicon-star{
    font-size:20px;
  }
  #gameSuccess{
    font-size:14px;
  }
  .hidden{
    display: none;

  }
  #spaceGame, #spaceGame2, #spaceGame3{
    height: 400px;
  }
}
  .phaserPlayNotes{
    font-size:12px;
  }
.hintView {
  .hint {
    background-color: #D32F2F;
    font-family:  'Anton', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .hint-box {
    background-color: white;
    font-family: 'Ek Mukta', sans-serif;
    color: black;
    max-height: 150px;
    border: 1px solid black;
    margin-bottom: 50px;
    padding-bottom: 10px;
  }
  .hintRow{
    padding-top: 6px;
  }
  img{
    height: 140px;
    text-align: center;
  }
}

//StatsService
.stats{
  background-color: white;
}

//Message Board

.minPadding {
  padding-left: 5px;
}

.messageForm {
  height: 50px;

}

.noPadding{
  padding-left: 0;
  padding-right: 0;
}

.messages{
  font-family: 'Ek Mukta', sans-serif;
  strong{
    font-size: 20px;
  }
}

.mainMessage {
  background-color: white;
  font-family: 'Ek Mukta', sans-serif;
  color: black;
  min-height: 100px;
  border: 1px solid black;
  margin-bottom: 5px;
  border-radius: 5px;
}

.replyMessage {
  background-color: white;
  font-family: 'Ek Mukta', sans-serif;
  color: black;
  min-height: 50px;
  border: 1px solid black;
  margin-bottom: 5px;
  border-radius: 5px;
}

.message-btn {
  background-color: #D32F2F;
  font-family:  'Anton', sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
}

.replies {
  margin-left: 50px;
}

//classrooms



.student-progress {
  border-top: 1px solid black;
  p{
    color: red;
  }
}

.classRoomInput{
  color: black;
  font-size: 12px;
}

.classroom-btn {
  background-color: #D32F2F;
  font-family:  'Anton', sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}

.submit {
  background-color: #D32F2F;
  font-family:  'Anton', sans-serif;
  color: white;
}

.btn:hover {
  color: white;
}

.btn:focus {
  color: white;
}

.input {
  height: 40px;
  color: black;
}

.classroom-student {
  background-color: white;
  margin: 5px;
  border-radius: 5px;
  color: black;
  clear: both;
  padding: 5px;
}

.classroom form {
  margin-bottom: 10px;
}

.upload {
  background-color: #D32F2F;
}

.teacher-notes {
  background-color: white;
  margin: 5px;
  border-radius: 5px;
  color: black;
  clear: both;
  padding: 5px;
  font-size: 16px;
  article{
    margin-bottom: 10px;
    clear: both;
  }
  a {
    color: black;
    text-decoration: none;

  }
  .delete {
    background-color: #D32F2F;
    font-family:  'Anton', sans-serif;
    color: white;
    margin-bottom: 10px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 1000px){

  .progress {
    width: 50%;
  }

  .student h3 {
    font-size: 30px;
  }

}

@media only screen and (max-width: 700px){

  .progress {
    width: 30%;
  }

  .student h3 {
    font-size: 20px;
  }

}
