body {
  background-color: #2196F3;
  font-family: 'Anton', sans-serif;
  color: white; }

#login {
  text-align: center;
  height: 600px; }
  #login h1 {
    font-size: 60px; }
  #login .img-logo {
    margin-bottom: 10px;
    width: 100px; }
  #login input {
    width: 30%;
    margin: 0 auto; }
  #login .login {
    width: 14%;
    margin-top: 5px;
    background-color: #D32F2F;
    color: white; }

.newUser {
  text-align: center; }
  .newUser .btn {
    background-color: #D32F2F;
    color: white; }

.newUserInput {
  width: 30%;
  margin: 0 auto; }

.btn {
  font-size: 20px; }

.progress-bar {
  color: black; }

.progress {
  display: inline-block;
  width: 75%;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 50px;
  background-color: #A9A9A9; }

.student h2 {
  font-size: 46px; }

.student h3 {
  font-size: 40px; }

.student .col-md-3 {
  background-color: white;
  border: 1px solid white;
  color: black;
  margin-right: 5px;
  text-align: center;
  min-height: 200px;
  border-radius: 5px;
  margin-top: 100px; }

.glyphicon {
  font-size: 72px; }

.main-lessons h3 {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 10px; }

.main-lessons .col-md-8 {
  height: 50px;
  background-color: white;
  color: black;
  margin-top: 10px;
  border-radius: 5px; }

.main-lessons .col-md-6 {
  height: 30px;
  background-color: white;
  color: black;
  margin-top: 10px;
  border-radius: 5px; }
  .main-lessons .col-md-6 a {
    color: black; }

.nav h1 {
  float: left; }

.nav .btn {
  float: right;
  margin-right: 5px;
  margin-top: 10px;
  background-color: #D32F2F;
  color: white; }

.nav hr {
  width: 100%; }

.image {
  border: 1px solid black;
  background: white;
  height: 300px; }

.image-edit {
  background-color: #D32F2F;
  font-size: 20px; }

aside .edit {
  display: inline-block;
  margin-top: 10px; }
  aside .edit button {
    background-color: #D32F2F;
    font-size: 20px; }

.lesson {
  margin-left: auto;
  margin-right: auto; }
  .lesson .video {
    background-color: white;
    border: 1px solid black;
    height: 400px;
    margin-right: 10px; }
    .lesson .video iframe {
      margin-top: 120px;
      width: 100%; }
  .lesson .notes {
    background-color: white;
    border: 1px solid black;
    height: 400px;
    overflow-y: scroll;
    color: black;
    font-family: 'Ek Mukta', sans-serif;
    font-size: 16px; }
    .lesson .notes img {
      width: 100%;
      margin: 0 auto;
      text-align: center; }
    .lesson .notes figcaption {
      text-align: center;
      font-size: 12px; }
  .lesson p .next {
    float: right;
    margin-right: 5px;
    margin-top: 10px;
    background-color: #D32F2F;
    color: white; }

.gameView {
  padding: 10px 20px; }
  .gameView .ace_editor {
    width: 100%;
    height: 400px; }
  .gameView .notes {
    padding-top: 10px;
    background-color: white;
    border: 1px solid black;
    height: 400px;
    color: black;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: bold;
    font-size: 16px;
    overflow-y: scroll; }
  .gameView .editor {
    height: 400px; }
  .gameView .gameBox {
    background-color: white;
    border: 1px solid black;
    height: 400px;
    color: black; }
    .gameView .gameBox .run {
      background-color: #D32F2F;
      font-family: 'Anton', sans-serif;
      margin-top: 5px; }
  .gameView #obstacle {
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 40px; }
  .gameView #char {
    position: absolute;
    z-index: 3; }
  .gameView #field {
    position: relative;
    margin: 10px auto;
    background-image: url("../../images/sand.jpg");
    width: 85%;
    height: 235px;
    border: 1px solid gray; }
  .gameView #fieldPlay {
    position: relative;
    margin: 10px auto;
    padding: 10px;
    width: 85%;
    height: 235px;
    border: 1px solid gray; }
  .gameView #field22 {
    position: relative;
    margin: 10px auto;
    background-image: url("../../images/grass.png");
    width: 85%;
    height: 235px;
    overflow-y: hidden;
    border: 1px solid gray; }
  .gameView #field23 {
    position: relative;
    margin: 10px auto;
    background-image: url("../../images/dungeonwall.jpg");
    width: 85%;
    height: 235px;
    overflow-y: hidden;
    border: 1px solid gray; }
  .gameView .playgroundSpan {
    font-size: 16px;
    color: red; }
  .gameView .dungeonDoor {
    margin-left: 2px;
    margin-right: 2px; }
  .gameView .dungeonNoRight {
    margin-left: 2px;
    margin-right: 0px; }
  .gameView .dungeonRow {
    margin-top: 50px; }
  .gameView .door {
    width: 60px;
    height: 100px; }
  .gameView .behindDoor {
    padding-top: 30px;
    width: 55px; }
  .gameView .zooText {
    text-align: center;
    color: white; }
  .gameView .zooRow {
    margin-bottom: 10px; }
  .gameView #x {
    position: absolute;
    top: 100px;
    left: 150px;
    font-size: 50px;
    color: red;
    font-family: 'Anton', sans-serif; }
  .gameView #error {
    width: 85%;
    margin: 0 auto; }
  .gameView .hidden {
    display: none; }
  .gameView #spaceGame, .gameView #spaceGame2, .gameView #spaceGame3 {
    height: 400px; }

.phaserPlayNotes {
  font-size: 12px; }

.hintView .hint {
  background-color: #D32F2F;
  font-family: 'Anton', sans-serif;
  margin-top: 5px;
  margin-bottom: 5px; }

.hintView .hint-box {
  background-color: white;
  font-family: 'Ek Mukta', sans-serif;
  color: black;
  height: 150px;
  border: 1px solid black;
  margin-bottom: 50px; }

.hintView .hintRow {
  padding-top: 6px; }

.hintView img {
  height: 140px;
  text-align: center; }

.stats {
  background-color: white; }

.minPadding {
  padding-left: 5px; }

.messageForm {
  height: 50px; }

.noPadding {
  padding-left: 0;
  padding-right: 0; }

.messages {
  font-family: 'Ek Mukta', sans-serif; }
  .messages strong {
    font-size: 20px; }

.mainMessage {
  background-color: white;
  font-family: 'Ek Mukta', sans-serif;
  color: black;
  min-height: 100px;
  border: 1px solid black;
  margin-bottom: 5px;
  border-radius: 5px; }

.replyMessage {
  background-color: white;
  font-family: 'Ek Mukta', sans-serif;
  color: black;
  height: 50px;
  border: 1px solid black;
  margin-bottom: 5px;
  border-radius: 5px; }

.message-btn {
  background-color: #D32F2F;
  font-family: 'Anton', sans-serif;
  margin-top: 5px;
  margin-bottom: 5px; }

.replies {
  margin-left: 50px; }

.student-progress {
  border-top: 1px solid black; }
  .student-progress p {
    color: red; }

.classRoomInput {
  color: black;
  font-size: 12px; }

.classroom-btn {
  background-color: #D32F2F;
  font-family: 'Anton', sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white; }

.submit {
  background-color: #D32F2F;
  font-family: 'Anton', sans-serif;
  color: white; }

.btn:hover {
  color: white; }

.btn:focus {
  color: white; }

.input {
  height: 40px;
  color: black; }

.classroom-student {
  background-color: white;
  margin: 5px;
  border-radius: 5px;
  color: black;
  clear: both;
  padding: 5px; }

.classroom form {
  margin-bottom: 10px; }

.upload {
  background-color: #D32F2F; }

.teacher-notes {
  background-color: white;
  margin: 5px;
  border-radius: 5px;
  color: black;
  clear: both;
  padding: 5px;
  font-size: 16px; }
  .teacher-notes a {
    color: black;
    text-decoration: none; }
