body {
  background-color: #40B9ED;
  font-family: 'Anton', sans-serif;
  color: white; }

#login {
  text-align: center;
  height: 600px; }
  #login input {
    width: 30%;
    margin: 0 auto; }
  #login .login {
    width: 14%;
    margin-top: 5px; }

.newUser {
  width: 30%;
  margin: 0 auto; }
