body {
  background-color: #40B9ED;
  font-family: 'Anton', sans-serif;
  color: white; }

#login {
  text-align: center;
  height: 600px; }
  #login h1 {
    font-size: 60px; }
  #login .img-logo {
    margin-bottom: 10px;
    width: 100px; }
  #login input {
    width: 30%;
    margin: 0 auto; }
  #login .login {
    width: 14%;
    margin-top: 5px;
    background-color: #B71427;
    color: white; }

.newUser {
  text-align: center; }
  .newUser .btn {
    background-color: #B71427;
    color: white; }

.newUserInput {
  width: 30%;
  margin: 0 auto; }

.btn {
  font-size: 20px; }

.nav h1 {
  float: left; }

.nav .btn {
  float: right;
  margin-right: 5px;
  margin-top: 10px;
  background-color: #B71427; }

.nav hr {
  width: 100%; }

.lesson {
  margin-left: auto;
  margin-right: auto; }
  .lesson .video {
    background-color: white;
    border: 1px solid black;
    height: 400px;
    margin-right: 10px; }
  .lesson .notes {
    background-color: white;
    border: 1px solid black;
    height: 400px; }
  .lesson p .next {
    float: right;
    margin-right: 5px;
    margin-top: 10px;
    background-color: #B71427;
    color: white; }
