<div class="container">
  <div ng-controller="UserController as userCtrl">
    <header-direct logout="userCtrl.logout()"></header-direct>
  </div>
  <section class="row gameView">
    <aside class="notes col-xs-3">
      <h3>GOALS</h3><p>Position the spaceship.</p><br>If there is a living enemy, move the Space Avenger to the right. In order to do this you will need to make an if statement.<p><p>The livingEnemies variable checks for any living enemies. If there are, then you need to move your spaceship into position to destroy it. </p> <p>Using the livingEnemies variable and the function mobilizeRight(), make an if statement to move your spaceship. </p>
    </aside>
    <aside class="col-xs-3 editor">
      <div ui-ace="space1Ctrl.aceOption" ng-model="space1Ctrl.aceModel">stuff</div>
    </aside>
    <aside class="col-xs-6">
      <div id="spaceGame">
      </div>
      <button class="run btn" ng-click="space1Ctrl.run()">Run</button><button class="run btn" ng-click="space1Ctrl.resetAce()">Reset</button><br>
      <div id="error" class="alert alert-danger hidden" role="alert">
      </div>
    </aside>
  </section>
  <section class="row hintView">
    <aside class="col-xs-12">
      <div class="col-xs-1">
        <button ng-click="hintOpen = !hintOpen" class="hint btn btn-danger">Hint</button>
      </div>
      <div ng-show="hintOpen" class="hint-box col-xs-8">
        <div class="hintRow">
          <div class="col-xs-8">
            The Space Avenger needs to be in position to destroy the alien. In order to do that, you need to move the spaceship to the right. Make sure you are inputing each variable and function in the right order.
          </div>
        </div>
      </div>
    </aside>
  </section>
  <div class="col-md-12">
    <message-board></message-board>
  </div>
</div>
