<div class="container">
  <div ng-controller="UserController as userCtrl">
    <header-direct logout="userCtrl.logout()"></header-direct>
  </div>
  <section class="row gameView">
    <aside class="notes chalkboard col-xs-4"><b>Chalkboard Takeover</b><br><br>The chalkboard needs its values to be corrected.<br><br>
      Type in the correct value for each:<br>
      <ol>
        <li>Change the value of greeting from <strong>"Welcome"</strong> to <strong>"good morning"</strong></li>
        <li>Set the values of <strong>x</strong> and <strong>y</strong> to be any two numbers that equal <strong>5</strong> when added together</li>
        <li>Evaluate whether or not the ghost <strong>isFriendly</strong> by answering <strong>true</strong> or <strong>false</strong></li>
      </ol>
    </aside>
    <aside class="col-xs-4 editor">
      <div ui-ace="game2Ctrl.aceOption" ng-model="game2Ctrl.aceModel">stuff</div>
    </aside>
    <aside class="col-xs-4 gameBox">
      <button id="runButton" class="gameButton btn btn-primary" ng-click="game2Ctrl.run()">Run</button>
      <button id="resetButton" class="gameButton btn btn-danger hidden" ng-click="game2Ctrl.resetGame()">Reset</button>
      <button id="nextLessonButton" class="gameButton btn btn-success hidden" ng-click="game2Ctrl.goNext()">Next!</button>
      <div id="field22">
        <div class="row greeting">
          <div class="col-xs-2"></div>
          <div class="greet col-xs-8">{{game2Ctrl.game22Ans.myGreeting}}</div>
        </div>
        <div class="row varRow">
          <div class="col-xs-1"></div>
          <div class="col-xs-4">x = {{game2Ctrl.game22Ans.xVal}}</div>
          <div class="col-xs-1"></div>
          <div class="col-xs-4">y = {{game2Ctrl.game22Ans.yVal}}</div>
        </div>
        <div class="row varRow">
          <div class="col-xs-1"></div>
          <div class="col-xs-6"> x + y = {{game2Ctrl.game22Ans.ansVal}}</div>
          <div class="col-xs-3"></div>
        </div>
        <div class="row ghostRow">
          <div class="col-xs-1"></div>
          <div class="col-xs-6">
            <img src="../../images/ghost.png"> isFriendly = {{game2Ctrl.game22Ans.friendly}}
          </div>
          <div class="col-xs-3"></div>
        </div>
      </div>
      <div id="error" class="alert alert-danger hidden" role="alert">
      </div>
      <div id="gameSuccess" class="alert alert-success hidden" role="alert">
      </div>
    </aside>
  </section>
  <section class="row hintView">
    <aside class="col-xs-12">
      <div class="col-xs-1">
        <button ng-click="hintOpen = !hintOpen" class="hint btn btn-danger">Hint</button>
      </div>
      <div ng-show="hintOpen" class="hint-box col-xs-5">
        <div class="hintRow">
            Remember, strings are identified by wrapping the text in double quotes. Numbers and booleans do not have quotes and booleans are evaluated by true or false.
        </div>
      </div>
    </aside>
  </section>
  <div class="col-xs-12">
    <message-board></message-board>
  </div>
</div>
