<div class="container">
  <div ng-controller="UserController as userCtrl">
    <header-direct logout="userCtrl.logout()"></header-direct>
  </div>
  <section class="row gameView">
    <aside class="notes chalkboard col-xs-4"><strong>BURIED TREASURE Part 3</strong><br><br>This treasure won't be as easy to grab as the previous ones. Beware, a dastardly cactus obstacle stands in your way! <br><br>You are currently at position <strong>(0,0)</strong> and the treasure is at <strong>(150, -100)</strong> with the cactus blocking <strong>(50, 0)</strong>. Move the character to the treasure by using the <strong>moveLeft()</strong>, <strong>moveRight()</strong>, <strong>moveUp()</strong>, and <strong>moveDown()</strong> functions.<br>
      Each moves the character <strong>50px</strong> in the indicated direction. <strong>Be quick</strong>. You only have 3 seconds to reach the destination and each move takes 0.5s.<br><br>Remember that JavaScript will read one line at a time so <strong>order matters</strong>!
    </aside>
    <aside class="col-xs-4 editor">
      <div ui-ace="gameCtrl.aceOption" ng-model="gameCtrl.aceModel">stuff</div>
    </aside>
    <aside class="col-xs-4 gameBox">
      <button class="run btn btn-danger" ng-click="gameCtrl.run()">Run</button><button class="run btn btn-danger" ng-click="gameCtrl.resetAce()">Reset</button><br>
      <div id="field">
        <img id="char" class="char" src="../../images/terry.png">
        <div id="x">x</div>
        <img id="obstacle" class="obstacle" src="../../images/cactaur.png">
      </div>
      <div id="error" class="alert alert-danger hidden" role="alert">
      </div>
    </aside>
  </section>
  <section class="row hintView">
    <aside class="col-xs-12">
      <div class="col-xs-1">
        <button ng-click="hintOpen = !hintOpen" class="hint btn btn-danger">Hint</button>
      </div>
      <div ng-show="hintOpen" class="hint-box col-xs-8">
        <div class="hintRow">
          <div class="col-xs-8">
            The coordinates shown are in the x-y plane (x,y). You start off at 0 in the x-direction and 0 in the y-direction. You must get to 150 in the x-direction and -100 in the y-direction. Each move takes you 50 pixels, so divide the total amount you need to move in each direction by 50 to find out how many times to call each function, but remember to avoid the obstacle so choose the correct direction to start!
          </div>
          <div class="col-xs-4">
            <img src="../../images/hints/game13hint.png">
          </div>
        </div>
      </div>
    </aside>
  </section>
  <div class="col-xs-12">
    <message-board></message-board>
  </div>
</div>
