<div class="container">
  <div ng-controller="UserController as userCtrl">
    <header-direct logout="userCtrl.logout()"></header-direct>
  </div>
  <section class="row gameView">
    <aside class="notes col-xs-3">
      <h3>GOALS</h3><p>If the Space Avenger is in position to shoot the alien, fire the laser.</p><p> If not, then put the Space Avenger in position.</p>
      To do this we will create an if/else statement:<br>
      <blockquote>if(scanForEnemy()) {<br>
         &nbsp;&nbsp;fireLaser();<br>
      } else {<br>
          &nbsp;&nbsp;mobilizeRight();<br>
      }</blockquote>
    </aside>
    <aside class="col-xs-3 editor">
      <div ui-ace="space2Ctrl.aceOption" ng-model="space2Ctrl.aceModel">stuff</div>
    </aside>
    <aside class="col-xs-6">
      <div id="spaceGame">
      </div>
      <button class="run btn btn-danger" ng-click="space2Ctrl.run()">Run</button><button class="run btn btn-danger" ng-click="space2Ctrl.resetAce()">Reset</button><br>
      <div id="error" class="alert alert-danger hidden" role="alert">
      </div>
    </aside>
  </section>
  <section class="row hintView">
    <aside class="col-xs-12">
      <div class="col-xs-1">
        <button ng-click="hintOpen = !hintOpen" class="hint btn btn-danger">Hint</button>
      </div>
      <div ng-show="hintOpen" class="hint-box col-xs-8">
        <div class="hintRow">
          <div class="col-xs-8">
            The coordinates shown are in the x-y plane (x,y). You start off at 0 in the x-direction and 0 in the y-direction. You must get to 0 in the x-direction and -50 in the y-direction. Each move takes you 50 pixels, so hit run and move on down to the treasure.
          </div>
          <div class="col-xs-4">
            <img src="../../images/xy.png">
          </div>
        </div>
      </div>
    </aside>
  </section>
  <div class="col-md-12">
    <message-board></message-board>
  </div>
</div>
