<div class="container">
  <div ng-controller="UserController as userCtrl">
    <header-direct logout="userCtrl.logout()"></header-direct>
  </div>
  <section class="row gameView">
    <aside class="notes chalkboard col-xs-3">
      <h3>GOALS</h3><p>Destroy the alien.</p><p>First, <strong>scanForEnemy()</strong>. If the Space Avenger is in position to shoot the alien, fire the laser.</p><p> If not <strong>scanLeft()</strong> for enemy, then <strong>attackLeft()</strong> to put the Space Avenger in position and attack.</p><p> If the enemy is to the right then <strong>attackRight()</strong>.</p>
      <p>To do this we will create an <strong>if</strong>/<strong>else if</strong>/<strong>else</strong> statement using the functions <strong>scanForEnemy()</strong>, <strong>fireLaser()</strong>, <strong>scanLeft()</strong>, <strong>attackLeft()</strong> and <strong>attackRight()</strong>.</p>
    </aside>
    <aside class="col-xs-3 editor">
      <div ui-ace="space3Ctrl.aceOption" ng-model="space3Ctrl.aceModel">stuff</div>
    </aside>
    <aside class="col-xs-6">
      <div id="spaceGame">
      </div>
      <button class="run btn" ng-click="space3Ctrl.run()">Run</button><button class="run btn" ng-click="space3Ctrl.resetAce()">Reset</button><br>
      <div id="error" class="alert alert-danger hidden" role="alert">
      </div>
    </aside>
  </section>
  <section class="row hintView">
    <aside class="col-xs-12">
      <div class="col-xs-1">
        <button ng-click="hintOpen = !hintOpen" class="hint btn btn-danger">Hint</button>
      </div>
      <div ng-show="hintOpen" class="hint-box col-xs-5">
        <div class="hintRow">
            Like in the previous lesson, the "scanForEnemy" function will scan to see if the Space Avenger is in range to destroy the alien. Depending on the location of the alien, the Space Avenger will need to attack to the right or to the left. Make sure you're spelling your functions correctly!
        </div>
      </div>
    </aside>
  </section>
  <div class="col-xs-12">
    <message-board></message-board>
  </div>
</div>
