<!-- this is a playground for admins to try new games or make videos for lessons -->
<div class="container">
  <div ng-controller="UserController as userCtrl">
    <header-direct logout="userCtrl.logout()"></header-direct>
  </div>
  <section class="row gameView">
    <aside class="notes col-xs-4"><b>Variables!</b><br><br>
      Variables act as a way to store values for later use. You can declare a new variable by saying:
      <blockquote>
       var varName = VALUE;
     </blockquote>
        Then call it by varName. You can also reassign the value by saying
      <blockquote>
        varName = NEWVALUE.
      </blockquote>
    </aside>
    <aside class="col-xs-4 editor">
      <div ui-ace="gameCtrl.aceOption" ng-model="gameCtrl.aceModel">stuff</div>
    </aside>
    <aside class="col-xs-4 gameBox">
      <button class="run btn btn-danger" ng-click="gameCtrl.run()">Run</button><button class="run btn btn-danger" ng-click="gameCtrl.resetAce()">Reset</button><br>
      <div id="fieldPlay">
        <img src="../../images/castledoors.png">
        <h4>doorOpen = <span class="playgroundSpan">{{gameCtrl.openDoor}}</span></h4>
        <h4>doorClosed = <span class="playgroundSpan">{{gameCtrl.closedDoor}}</span></h4>
        <!-- <img src= "../../images/terry.png"> = <span class="playgroundSpan">{{gameCtrl.characterName}}</span><br>
        <img src = "../../images/pig.png"> = <span class="playgroundSpan">{{gameCtrl.character2Name}}</span> -->
        <!-- <img src = "../../images/penguin.png">&nbsp;
        <img src = "../../images/owl.png">&nbsp;
        <img src = "../../images/turtle.png">&nbsp; -->
        <!-- <br><br>
        <h4> pets = <span class="playgroundSpan">{{gameCtrl.array}}</span></h4>
        <h4> pets[0] = <span class="playgroundSpan">{{gameCtrl.array[0]}}</span></h4>
        <h4> pets[2] = <span class="playgroundSpan">{{gameCtrl.array[2]}}</span></h4>
        <h4> pets.length = <span class="playgroundSpan">{{gameCtrl.arrlength}}</span></h4> -->
        <!-- <h4>X = <span class="playgroundSpan">{{gameCtrl.x}}</span></h4>
        <h4>X + 2 = <span class="playgroundSpan">{{gameCtrl.xAns}}</span></h4>
        <h4>Y = <span class="playgroundSpan">{{gameCtrl.y}}</span></h4>
        <h4>Y + 4 = <span class="playgroundSpan">{{gameCtrl.yAns}}</span></h4>
        <h4>Z = <span class="playgroundSpan">{{gameCtrl.z}}</span></h4>
        <h4>Z + 1 = <span class="playgroundSpan">{{gameCtrl.zAns}}</span></h4> -->
      </div>
      <div id="error" class="alert alert-danger hidden" role="alert">
      </div>
    </aside>
  </section>
  <section class="row hintView">
    <aside class="col-xs-12">
      <div class="col-xs-1">
        <button ng-click="hintOpen = !hintOpen" class="hint btn btn-danger">Hint</button>
      </div>
      <div ng-show="hintOpen" class="hint-box col-xs-8">
        <div class="hintRow">
          <div class="col-xs-8">
            The coordinates shown are in the x-y plane (x,y). You start off at 0 in the x-direction and 0 in the y-direction. You must get to 150 in the x-direction and -100 in the y-direction. Each move takes you 50 pixels, so divide the total amount you need to move in each direction by 50 to find out how many times to call each function, but remember to avoid the obstacle so choose the correct direction to start!
          </div>
          <div class="col-xs-4">
            <img src="../../images/xy.png">
          </div>
        </div>
      </div>
    </aside>
  </section>
</div>
