<div class="container">
  <div ng-controller="UserController as userCtrl">
    <header-direct logout="userCtrl.logout()"></header-direct>
  </div>
  <section class="row gameView">
    <aside class="notes col-xs-4"><b>BURIED TREASURE Part 1</b><br><br>Let's learn how to use the code editor and play a game! <br><br>You are currently at position (0,0) and the treasure is at (0, -50). The moveDown() function which has been entered for you will move your character down by 50 pixels to the treasure. <br><br>
      Hit the 'Run' button above the game and gather your first treasure.
    </aside>
    <aside class="col-xs-4 editor">
      <div ui-ace="gameCtrl.aceOption" ng-model="gameCtrl.aceModel">stuff</div>
    </aside>
    <aside class="col-xs-4 gameBox">
      <button class="run btn btn-danger" ng-click="gameCtrl.run()">Run</button><button class="run btn btn-danger" ng-click="gameCtrl.resetAce()">Reset</button><br>
      <div id="field">
        <img id="char" class="char" src="../../images/terry.png">
        <div id="x">x</div>
      </div>
      <div id="error" class="alert alert-danger hidden" role="alert">
      </div>
    </aside>
  </section>
  <section class="row hintView">
    <aside class="col-xs-12">
      <div class="col-xs-1">
        <button ng-click="hintOpen = !hintOpen" class="hint btn btn-danger">Hint</button>
      </div>
      <div ng-show="hintOpen" class="hint-box col-xs-8">
        <div class="hintRow">
          <div class="col-xs-8">
            The coordinates shown are in the x-y plane (x,y). You start off at 0 in the x-direction and 0 in the y-direction. You must get to 0 in the x-direction and -50 in the y-direction. Each move takes you 50 pixels, so hit run and move on down to the treasure.
          </div>
          <div class="col-xs-4">
            <img src="../../images/xy.png">
          </div>
        </div>
      </div>
    </aside>
  </section>
  <div class="col-md-12">
    <message-board></message-board>
  </div>
</div>
