<div class="container">
  <div ng-controller="UserController as userCtrl">
    <header-direct logout="userCtrl.logout()"></header-direct>
  </div>
  <section class="row gameView">
    <aside class="notes chalkboard col-xs-4"><strong>ZOO ANIMALS</strong><br><br>The zookeeper needs help keeping track of all the animals.<br><br>
      Name all the animals accordingly by setting <strong>variables</strong> to equal the right name for each of the 4 animals. You naming options are:<br>
      <strong>"Pascal the Penguin"</strong>, <strong>"Owlie"</strong>, <strong>"Senor Bacon"</strong>, and <strong>"Thomas the Turtle"</strong>
    </aside>
    <aside class="col-xs-4 editor">
      <div ui-ace="game2Ctrl.aceOption" ng-model="game2Ctrl.aceModel">stuff</div>
    </aside>
    <aside class="col-xs-4 gameBox">
      <button class="run btn btn-danger" ng-click="game2Ctrl.run()">Run</button><button class="run btn btn-danger" ng-click="game2Ctrl.resetAce()">Reset</button><br>
      <div id="field21">
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-6 zooText">{{game2Ctrl.animals.pig}}</div>
        </div>
        <div class="row zooRow">
          <div class="col-xs-2"></div>
          <div class="col-xs-4">
            <img id="char" class="char" src="../../images/pig.png">
          </div>
        </div>
          <div class="row">
            <div class="col-xs-6"></div>
            <div class="col-xs-6 zooText">{{game2Ctrl.animals.penguin}}</div>
          </div>
          <div class="row zooRow">
            <div class="col-xs-6"></div>
            <div class="col-xs-4">
              <img id="char" class="char" src="../../images/penguin.png">
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-6 zooText">{{game2Ctrl.animals.owl}}</div>
          </div>
          <div class="row zooRow">
            <div class="col-xs-1"></div>
            <div class="col-xs-4">
              <img id="char" class="char" src="../../images/owl.png">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-5"></div>
            <div class="col-xs-6 zooText">{{game2Ctrl.animals.turtle}}</div>
          </div>
          <div class="row zooRow">
            <div class="col-xs-5"></div>
            <div class="col-xs-4">
              <img id="char" class="char" src="../../images/turtle.png">
            </div>
          </div>
      </div>
      <div id="error" class="alert alert-danger hidden" role="alert">
      </div>
    </aside>
  </section>
  <section class="row hintView">
    <aside class="col-xs-12">
      <div class="col-xs-1">
        <button ng-click="hintOpen = !hintOpen" class="hint btn btn-danger">Hint</button>
      </div>
      <div ng-show="hintOpen" class="hint-box col-xs-5">
        <div class="hintRow">
            You can declare the name of the first animal by saying <b>var animal1<b> = "Name"; where "Name" is a string. Do this for all the animals (animal1, animal2, animal3, and animal4). Since these variables have already been delcared in the game, you just need to reassign the value by saying animal1="Name";
        </div>
      </div>
    </aside>
  </section>
  <div class="col-xs-12">
    <message-board></message-board>
  </div>
</div>
