<div class="container">
  <div ng-controller="UserController as userCtrl">
    <header-direct logout="userCtrl.logout()"></header-direct>
  </div>
  <section class="row gameView">
    <aside class="notes col-xs-3">
      <h3>If/else if Statements</h3><p class="phaserPlayNotes">If statements will run the code inside of them if a given condition is true. When an else if statement is present, the code inside of it will run when the condition in the if portion evaluates to false and the conditional inside of the else if statement evaluates to true. An else statement will then run if none of the other conditions were met.</p><br>
      <blockquote class="phaserPlayNotes">if(hasShip){<br>
        fireLaser();<br>
      }<br>
      else if(friendHasShip){<br>
        borrowShip();<br>
      }<br>
      else{<br>
        buyNewShip();<br>
      }<br>
    </blockquote>
    </aside>
    <aside class="col-xs-3 editor">
      <div ui-ace="spacePCtrl.aceOption" ng-model="spacePCtrl.aceModel">stuff</div>
    </aside>
    <aside class="col-xs-6">
      <div id="spaceGame">
      </div>
      <button class="run btn btn-danger" ng-click="spacePCtrl.run()">Run</button><button class="run btn btn-danger" ng-click="spacePCtrl.resetAce()">Reset</button><br>
      <div id="error" class="alert alert-danger hidden" role="alert">
      </div>
    </aside>
  </section>
  <section class="row hintView">
    <aside class="col-xs-12">
      <div class="col-xs-1">
        <button ng-click="hintOpen = !hintOpen" class="hint btn btn-danger">Hint</button>
      </div>
    </aside>
  </section>
</div>
