<div class="newUser">
  <h1>Create New User</h1>
  <form ng-submt="newUserCtrl.createNewUser(newUserInfo)">
  <input class="form-control" type="text" placeholder="Username" value="" name="username" ng-model="newUserInfo.name">
  <!-- <input class="form-control" type="text" placeholder="Email" value="" name="email" ng-model="userInfo.email"> -->
  <input class="form-control" type="password" placeholder="Password" value="" name="password" ng-model="newUserInfo.password">
  <!-- <input class="form-control" type="" placeholder="Profile Image" value="" name="image" ng-model="userInfo.image">

  <select class="form-control">
   <option>HTML</option>
   <option>JavaScript</option>
   <option>Java</option>
   <option>CSS</option>
   <option>jQuery</option>
  </select> -->
  <input class="btn btn-primary login" type="submit" name="submit" value="Login">
</div>
