<div class="container">
  <div ng-controller="UserController as userCtrl">
    <header-direct logout="userCtrl.logout()"></header-direct>
  </div>
  <div class="lesson">
    <section class="col-xs-1"></section>
    <section class="video col-xs-5"><iframe src="https://www.youtube.com/embed/4J2rdLm5Z0k" frameborder="0" allowfullscreen></iframe>
    </section>
    <section class="notes col-xs-5">
      <h3>Variables & Strings</h3>
      <p>Just like in algebra, JavaScript uses variables.  You may have seen in math class something like:<br>
      <blockquote>
      <b>x</b> = 2<br>
      <b>y</b> = 5<br>
      <br>
      Solve:<br>
      <b>x</b>+ <b>y</b><br>
      <br>
      or<br>
      <br>
      <b>x</b> + 5 = 10<br>
      <br>
      Solve for <b>x</b>.</blockquote></p>
      <br>(But don't be afraid if you haven't seen that in math class yet)<br><br>
      <p>In Javascript, variables can be thought of as containers that hold data.  When creating a variable, you must use the keyword var.  The var keyword is followed by an identifier, which is a name created by the coder to reference the specific variable.  Identifiers can be simple placeholders, like the above algebra example, or they can be more descriptive for greater code clarity.</p>
      <p>Once you create an identifier, the next step is assign a piece of data to the variable.  This is done using the = sign, followed by a primitive data type.  There are three types of primitives in Javascript:<p>
      <p><b>Strings</b> - A string is snippet of text that can contain letters, numbers, and symbols.  A string is defined by surrounding the text in double quotes:</p>
      <blockquote>
          <b>ex1:</b> “This is a String!”<br>
          <b>ex2:</b> “I was born in 1992!”<br>
      </blockquote>
      <br>
      <p><b>Numbers</b> - A number is any value between negative infinity and positive infinity.  A number can also be a decimal.</p>
      <blockquote>
          <b>ex1:</b> 100<br>
          <b>ex2:</b> 8.5<br>
          <b>ex3:</b> -20<br>
      </blockquote>
          <br>

      <p><b>Boolean</b> - A boolean can only be true or false and is used in situations where you need to tell the program if something is true or false! You will learn more about how to use these in lesson 3.</p>

      <p>Let’s take a look at some variable declarations:</p>

      <blockquote>
      <b>var myName</b> = “Jack”<br>
      <b>var myBirthday</b> = “Sept. 15, 1992”<br>
      <br>
      <b>var x</b> = 5<br>
      <b>var myAge</b> = 10<br>
      <br>
      <b>var doorIsClosed</b> = true<br>
      <b>var doorIsOpen</b> = false<br>
    </blockquote>
    </section>
    <section class="col-xs-1"></section>
    <p class="col-md-12"><a href="#/game2"><button class="next btn">Game On</button></a></p>
  </div>
  <div class="col-md-12">
    <message-board></message-board>
  </div>
</div>
