<div class="container">
  <div ng-controller="UserController as userCtrl">
    <header-direct logout="userCtrl.logout()"></header-direct>
  </div>
  <div class="lesson">
    <section class="col-xs-1"></section>
    <section class="video col-xs-5"><iframe src="https://www.youtube.com/embed/4J2rdLm5Z0k" frameborder="0" allowfullscreen></iframe>
    </section>
    <section class="notes col-xs-5">
      Notes go here
    </section>
    <section class="col-xs-1"></section>
    <p class="col-md-12"><a href="#/game2"><button class="next btn">Game On</button></a></p>
  </div>
  <div class="col-md-12">
    <message-board></message-board>
  </div>
</div>
