<div class="container">
  <div class="nav">
    <h1>Code Champions</h1>
    <button ng-click="userCtrl.logout()" class="btn btn-logout">Logout</button>
    <button class="btn btn-home">Home</button>
    <hr>
  </div>
  <div class="lesson">
    <section class="col-xs-1"></section>
    <section class="video col-xs-5">
    </section>
    <section class="notes col-xs-5">
    </section>
    <section class="col-xs-1"></section>
    <p class="col-md-12"><a href="#/game"><button class="next btn">Game On</button></a></p>
  </div>
</div>
