<div class="container">
  <div ng-controller="UserController as userCtrl">
    <header-direct logout="userCtrl.logout()"></header-direct>
  </div>
  <div class="lesson">
    <section class="video" ng-hide="showNotes">
        <div class="modal-body">
            <iframe id="cartoonVideo" width="800" height="400" src="https://www.youtube.com/embed/eVfpxAk2edQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="modal-footer">
            <button class="btn submit" type="button" ng-click="showNotes = !showNotes">Show Notes</button>
            <a href="#/game33"><button class="submit btn">Game On</button></a>
        </div>
    </section>
    <section class="col-xs-2"></section>
    <section ng-show="showNotes" class="lesson col-xs-8">
      <div class="notes">
        <h3>Space Avenger</h3><p>You just made an if/else statement!</p>
        <p>Now, we are going to take it even farther and create an if/else if/else statement. It might sound a little confusing but let's break it down.</p>
        <p>Use if to specify a block of code to be executed, if a specified condition is true. Use else to specify a block of code to be executed, if the same condition is false.
        Use else if to specify a new condition to test, if the first condition is false.</p>
        <p>Here's an example: <br>
        <p>If time is less than 10:00, create a "Good morning" greeting, if not, but time is less than 20:00, create a "Good day" greeting, otherwise a "Good evening":</p>
        <blockquote>var time = 15;<br>
          if (time < 10) {<br>
            &nbsp;&nbsp;greeting = "Good morning";<br>
        } else if (time < 20) {<br>
            &nbsp;&nbsp;greeting = "Good day";<br>
        } else {<br>
            &nbsp;&nbsp;greeting = "Good evening";<br>
        }</blockquote>
        <p>The result of greeting will be:</p>
        <blockquote>Good day</blockquote>
        <p>In the next lesson, we will be using two new functions. The "attackLeft" function will move the Space Avenger to the left to attack. The "attackRight" function will move the Space Avenger to the left to attack the invader.</p>
        <p>Have fun, and keep coding!</p>
      </div>
    </section>
    <section class="col-xs-1"></section>
    <p class="col-xs-12"><a href="#/game33"><button ng-show="showNotes" class="next btn">Game On</button></a><button class="btn next" type="button" ng-show="showNotes" ng-click="showNotes = !showNotes">Watch Video</button></p>
  </div>
  <div class="col-xs-12">
    <message-board></message-board>
  </div>
</div>
