<div class="container">
  <div ng-controller="UserController as userCtrl">
    <header-direct logout="userCtrl.logout()"></header-direct>
  </div>
  <div class="lesson">
    <section class="video" ng-hide="showNotes">
        <div class="modal-body">
            <iframe id="cartoonVideo" width="800" height="400" src="https://www.youtube.com/embed/03pg-ZKdqUw" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="modal-footer">
            <button class="btn submit" type="button" ng-click="showNotes = !showNotes">Show Notes</button>
            <a href="#/game31"><button class="submit btn">Game On</button></a>
        </div>
    </section>
    <section class="col-xs-2"></section>
    <section ng-show="showNotes" class="lesson col-xs-8">
      <div class="notes">
          <h3>Space Avenger</h3><p>Good job, Code Champion! You're on your way to becoming a great programmer!</p>
          <p>In Lesson 3, we are going to discover if/else statements.</p>
          <p>Sometimes JavaScript requires the ability to make distinctions between different possibilities. This is when an if/else statement will come in handy.</p>
          <p>The general syntax for if statements is:</p>
          <blockquote>if (condition) {action1} else {action2};</blockquote>
          <p>Part 1 will cover basic if statments. Use the if statement to specify a block of JavaScript code to be executed if a condition is true.</p>
          <h4>Example</h4>
          <p>Make a "Good day" greeting if the hour is less than 18:00:</p>

          <blockquote>var hour = 15;<br>
            if (hour < 18) {<br>
              &nbsp;&nbsp;greeting = "Good day";<br>
          }</blockquote>
          <p>The result of greeting will be:</p>

        <blockquote>Good day</blockquote>
          <p>Let's put these new skills to use. Let's go to space!</p>
          <p>Have fun, and keep coding!</p>
      </div>
    </section>
    <section class="col-xs-1"></section>
    <p class="col-xs-12"><a href="#/game31"><button ng-show="showNotes" class="next btn">Game On</button></a><button class="btn next" type="button" ng-show="showNotes" ng-click="showNotes = !showNotes">Watch Video</button></p>
  </div>
  <div class="col-xs-12">
    <message-board></message-board>
  </div>
</div>
