<div class="container">
  <div ng-controller="UserController as userCtrl">
    <header-direct logout="userCtrl.logout()"></header-direct>
  </div>
  <div class="lesson">
    <section class="video" ng-hide="showNotes">
        <div class="modal-body">
            <iframe id="cartoonVideo" width="800" height="400" src="https://www.youtube.com/embed/CnFiRIkDtAc" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="modal-footer">
            <button class="btn submit" type="button" ng-click="showNotes = !showNotes">Show Notes</button>
            <a href="#/game33"><button class="submit btn">Game On</button></a>
        </div>
    </section>
    <section class="col-xs-2"></section>
    <section ng-show="showNotes" class="lesson col-xs-8">
      <div class="notes">
        <h3>Space Avengers</h3><p>Good job! Now we can use the else statement to specify a block of code to be executed if the condition is false.
        <h4>Example:</h4>
        <p>If the hour is less than 18, create a "Good day" greeting, otherwise "Good evening":</p>

        <blockquote>var hour = 15;<br>
          if (hour < 18) {<br>
            &nbsp;&nbsp;greeting = "Good day";<br>
        } else {<br>
            &nbsp;&nbsp;greeting = "Good evening";<br>
        }</blockquote>
        <p>The result of greeting will be:</p>
        <blockquote>Good day</blockquote>
        <p>In the next lesson, we will use a function called "scanForEnemy" to locate the position of the Space Avenger.</p>
        <p>If it is in position to defeat the invader, we will use the function "fireLaser" to destroy the alien invader.</p>
        <p>If the Space Avenger is not in position, then we will use the function "mobilizeRight" to move the Space Avenger into position.</p>
        <p>Have fun, and keep coding!</p>
      </div>
    </section>
    <section class="col-xs-1"></section>
    <p class="col-md-12"><a href="#/game33"><button ng-show="showNotes" class="next btn">Game On</button></a><button class="btn next" type="button" ng-show="showNotes" ng-click="showNotes = !showNotes">Watch Video</button></p>
  </div>
  <div class="col-md-12">
    <message-board></message-board>
  </div>
</div>
