<div class="container">
  <div ng-controller="UserController as userCtrl">
    <header-direct logout="userCtrl.logout()"></header-direct>
  </div>
  <div class="lesson">
    <section class="col-xs-1"></section>
    <section class="video col-xs-5"><iframe src="https://www.youtube.com/embed/4J2rdLm5Z0k" frameborder="0" allowfullscreen></iframe>
    </section>
    <section class="notes col-xs-5">
      <h3>Space Avenger</h3><p>You just made an if/else statement!</p>
      <p>Now, we are going to take it even farther and create an if/else if/else statement. It might sound a little confusing but let's break it down.</p>
      <p>Use if to specify a block of code to be executed, if a specified condition is true. Use else to specify a block of code to be executed, if the same condition is false.
      Use else if to specify a new condition to test, if the first condition is false.</p>
      <p>Here's an example: <br>
      <p>If time is less than 10:00, create a "Good morning" greeting, if not, but time is less than 20:00, create a "Good day" greeting, otherwise a "Good evening":</p>
      <blockquote>if (time < 10) {<br>
          greeting = "Good morning";<br>
      } else if (time < 20) {<br>
          greeting = "Good day";<br>
      } else {<br>
          greeting = "Good evening";<br>
      }</blockquote>
      <p>The result of greeting will be:</p>
      <blockquote>Good day</blockquote>
      <p>In the next lesson, we will be using two new functions. The "attackLeft" function will move the Space Avenger to the left to attack. The "attackRight" function will move the Space Avenger to the left to attack the invader.</p>
      <p>Have fun, and keep coding!</p>
    </section>
    <section class="col-xs-1"></section>
    <p class="col-md-12"><a href="#/game2"><button class="next btn">Game On</button></a></p>
  </div>
  <div class="col-md-12">
    <message-board></message-board>
  </div>
</div>
