  <div class="lesson">
    <section class="col-xs-1"></section>
    <section class="video col-xs-5"><iframe src="{{data.video}}" frameborder="0" allowfullscreen></iframe>
    </section>
    <section class="notes col-xs-5">
      <h3>{{data.title}}</h3>
      <p>{{data.openingP}}</p>
      <ul>
        <li>{{data.li1}}</li>
        <li>{{data.li2}}</li>
      </ul>
      <div class="row"><div class="col-xs-2"></div><div class="col-xs-8"><figure><img src="{{data.img1}}"><figcaption>{{data.caption1}}</figcaption></figure></div><div class="col-xs-2"></div></div>
    </section>
    <section class="col-xs-1"></section>
    <p class="col-md-12"><a href="{{data.link}}"><button class="next btn">Game On</button></a></p>
  </div>
