<div class="container">
  <div ng-controller="UserController as userCtrl">
    <header-direct logout="userCtrl.logout()"></header-direct>
  </div>
  <div class="lesson">
    <section class="col-xs-1"></section>
    <section class="video col-xs-5"><iframe src="https://www.youtube.com/embed/4J2rdLm5Z0k" frameborder="0" allowfullscreen></iframe>
    </section>
    <section class="notes col-xs-5">
      <h3>Introduction</h3><p>Welcome, future Code Champion, to the exciting world of programming. Before we can embark on our adventure, there are some things you should know.</p>
      <p>Each lessons contains written notes and a video. Feel free to watch or read either one, but there is no need to do both. We will be working in a language called JavaScript that is featured on many websites that you visit daily. Even though we will be writing JavaScript, the coding fundamentals you will learn will translate to most other programming languages. The major difference will be syntax.</p>
      <p>Like any language, JavaScript has rules. As we progress through the courses, you'll learn more of the rules, but there are a few you should know to start.</p>
      <ul>
        <li>JavaScript likes to be told when you're done with a certain action. That's why we end lines of code with a semi-colon (;) to tell it to move on to the next thing. Failure to put a semi-colon or putting the wrong punctuation can make your code go crazy and not work properly.</li>
        <li>Spelling and capitalization matter. If you want access to something you need to make sure it is spelled correctly and that all letters are properly capitalized based on how it was defined. If you incorrectly try to access something, you will get an error saying it is 'undefined'.</li>
      </ul>
      <h3>What's your function?</h3>
      <p>In our everyday lives, we run programs without even knowing it. For instance, you might have a certain way that you brush your teeth every day. Let's say you put toothpaste on your toothbrush, brush the top for one minute, brush the bottom for one minute, spit out the toothpaste, and finally rinse your mouth. You can think of that entire process as a function called brushTeeth (In JavaScript, we like to use something called camel-case where we capitalize all words after the first one).</p>
      <p>Just like you tell your body to run your brushTeeth function, you have to tell a computer exactly what you want it to do. Computers aren't as smart as people, though, so you have to be extremely specific when it comes both telling them what to do and what order to do it in. JavaScript will perform actions one line at a time in the order given. JavaScript can be written in a text document or a special code editor like the one shown below that we'll be using on this site.</p>
      <div class="row"><div class="col-xs-2"></div><div class="col-xs-8"><figure><img src="../../images/codeEditor.png"><figcaption>Our shiny, wonderful Code Editor!</figcaption></figure></div><div class="col-xs-2"></div></div>
      <p>For our first exercise, we have written several functions for you. In order to call a function, you simply write the function's name and follow it with parentheses (). So your brushTeeth function could be called by saying <i>brushTeeth();</i>. This game, however, will be far more fun than just brushing your teeth. We are searching for buried treasure, and 'X' marks the spot! You can move your chacter in a given direction toward the 'X' by using any of our predefined functions 'moveLeft()', 'moveRight()', 'moveUp()', and 'moveDown()'. Simply enter the functions into the code editor and hit run to move your character toward the prize!</p>
      <div class="row"><div class="col-xs-2"></div><div class="col-xs-8"><figure><img src="../../images/movement.png"><figcaption>Typing moveRight(); will send your character to the right!</figcaption></figure></div><div class="col-xs-2"></div></div>
      <p>Don't worry if you get stuck or forget one of the syntax rules, because we'll let you know either in the editor itself or underneath the game with an error notification.</p>
      <div class="row"><div class="col-xs-2"></div><div class="col-xs-8"><figure><img src="../../images/syntaxError.png"><figcaption>An example of a syntax error from forgetting Javascript rule. These show up in the code editor.</figcaption></figure></div><div class="col-xs-2"></div></div>
      <div class="row"><div class="col-xs-2"></div><div class="col-xs-8"><figure><img src="../../images/gameError.png"><figcaption>An example of a game error from not picking the right functions. These show up under the game.</figcaption></figure></div><div class="col-xs-2"></div></div>
      <p>Have fun, and keep coding!</p>
    </section>
    <section class="col-xs-1"></section>
    <p class="col-md-12"><a href="#/game"><button class="next btn">Game On</button></a></p>
  </div>
  <div class="col-md-12">
    <message-board></message-board>
  </div>
</div>
