<div class="newUser">
  <h1>Create New User</h1>
  <button class="btn" ng-click="studentType = !studentType; newUserInfo.accessType='STUDENT'">Student</button>
  <button class="btn" ng-click="teacherType = !teacherType; newUserInfo.accessType='TEACHER'">Teacher</button>
  <form ng-if="!teacherType" ng-show="studentType" ng-submit="newUserCtrl.createNewUser(newUserInfo)">
    <input class="form-control newUserInput" type="text" placeholder="Username" value="" name="username" ng-model="newUserInfo.username">
    <input class="form-control newUserInput" type="password" placeholder="Password" value="" name="password" ng-model="newUserInfo.password">
    <input class="form-control newUserInput" type="email" placeholder="Email" value="" name="email" ng-model="newUserInfo.email">
    Select Avatar:
      <img tabindex="0" ng-click="newUserInfo.avatar = 'princess.png'" src="../../images/avatars/princess.png">
      <img tabindex="0" ng-click="newUserInfo.avatar = 'cat.png'" src="../../images/avatars/cat.png">
      <img tabindex="0" ng-click="newUserInfo.avatar = 'pirate.png'"  src="../../images/avatars/pirate.png">
      <img tabindex="0" ng-click="newUserInfo.avatar = 'octopus.png'" src="../../images/avatars/octopus.png"><br>
    <input class="form-control hidden" type="" placeholder="Profile Image" value="" name="avatar" ng-model="newUserInfo.avatar">
    <input class="btn newUserInput" type="submit" name="submit" value="Start!">
  </form>
  <form ng-if="!studentType" ng-show="teacherType" ng-submit="newUserCtrl.createNewUser(newUserInfo)">
    <input class="form-control newUserInput" type="text" placeholder="Username" value="" name="username" ng-model="newUserInfo.username">
    <input class="form-control newUserInput" type="password" placeholder="Password" value="" name="password" ng-model="newUserInfo.password">
    <input class="form-control newUserInput" type="email" placeholder="Email" value="" name="email" ng-model="newUserInfo.email">
    Select Avatar:
      <img tabindex="0" ng-click="newUserInfo.avatar = 'princess.png'" src="../../images/avatars/princess.png">
      <img tabindex="0" ng-click="newUserInfo.avatar = 'cat.png'" src="../../images/avatars/cat.png">
      <img tabindex="0" ng-click="newUserInfo.avatar = 'pirate.png'"  src="../../images/avatars/pirate.png">
      <img tabindex="0" ng-click="newUserInfo.avatar = 'octopus.png'" src="../../images/avatars/octopus.png"><br>
    <input class="btn newUserInput" type="submit" name="submit" value="Start!">
  </form>
</div>
