<div class="container classroom">
  <div ng-controller="UserController as userCtrl">
    <header-direct logout="userCtrl.logout()"></header-direct>
  </div>
<h1>Welcome to your Private Messages, {{PMCtrl.username}}</h1>
<section class="row">
  <div class="col-xs-12">
    <div class="col-xs-1"></div>
    <div class="col-xs-2 btn upload" ng-click="sendNewMessage = !sendNewMessage">Send Message</div>
    <form class="col-xs-3" ng-submit="PMCtrl.sendNewMessage(toName, newMessage)">
      <input ng-show="sendNewMessage" class="classRoomInput input" name="toName" type="text" ng-model="toName" placeholder="Send to" value="">
      <input ng-show="sendNewMessage" class="classRoomInput input" name="newMessage" type="text" ng-model="newMessage" placeholder="Message" value="">
      <input ng-show="sendNewMessage" class="btn btn-primary submit" type="submit" value="submit">
    </form>
    <div class="col-xs-3"></div>
  </div>
</section>

</div>
