<div class="container classroom">
  <div ng-controller="UserController as userCtrl">
    <header-direct logout="userCtrl.logout()"></header-direct>
  </div>
<h1>Welcome to your Private Messages, {{PMCtrl.username}}</h1>
<section class="row message">
  <div class="col-xs-12">
    <div class="col-xs-1"></div>
    <button class="btn upload" ng-click="sendNewMessage = !sendNewMessage">Send Message</button>
    <form class="col-xs-12" ng-submit="PMCtrl.sendNewMessage(replyUser, newMessage)">
      <input ng-show="sendNewMessage" class="classRoomInput input" name="replyUser" type="text" ng-model="replyUser" placeholder="Send to" value="">
      <input ng-show="sendNewMessage" class="classRoomInput input formMessage" name="newMessage" type="text" ng-model="newMessage" placeholder="Message" value="">
      <input ng-show="sendNewMessage" class="btn btn-primary submit" type="submit" value="submit">
    </form>
    <div class="col-xs-3"></div>
  </div>
</section>
<article ng-repeat="pm in PMCtrl.pm">
  <h3 ng-click="showChain = !showChain; PMCtrl.markRead(pm.id)">{{pm.title}}
  </h3>
  <section ng-show="showChain">
    <div class="row">
      <div class="col-xs-10"><img ng-src="../../images/avatars/{{pm.user.avatar}}"> {{pm.user.username}} ({{pm.messageTime}}): {{pm.messageText}}
      </div>
    </div>
  <section ng-repeat="reply in pm.replies | orderBy: 'id'">
    <div class="row">
      <div class="col-xs-10"><img ng-src="../../images/avatars/{{reply.user.avatar}}">{{reply.user.username}} ({{reply.messageTime}}): {{reply.messageText}}
      </div>
    </div>
  </section>
    <div class="row">
      <div class="col-xs-10">
        <form ng-submit="PMCtrl.sendReply(pm.title, replyMessage, pm.id)">
          <input class="messageForm form-control" name="replyMessage" type="text" ng-model="replyMessage" placeholder="Reply">
          <input class="btn btn-primary submit" type="submit" value="submit">
        </form>
      </div>
    </div>
  </section>
</article>

</div>
