<div class="container">
  <div ng-controller="UserController as userCtrl">
    <header-direct logout="userCtrl.logout()"></header-direct>
  </div>
  <h1>Welcome to {{userCtrl.singleClass.className}}</h1>
</div>
<div class="col-md-12">
  <div class="col-md-1"></div>
  <form ng-submit="classCtrl.addStudent(studentName, class.id)">
    <input  class="classRoomInput input" name="studentName" type="text" ng-model="studentName" placeholder="Student to add" value="">
    <input class="btn btn-primary submit" type="submit" value="submit">
  </form>
</div>
<article ng-repeat="student in userCtrl.singleClass.classStudents">
  <h3>{{student.username}}</h3>
  <h5>Lesson 1 Progress: {{student.lesson1Progress}}</h5>
</article>
